html, body {
    margin: 0;
    font-family: sans-serif;
    background-color: #e8f5e9 !important;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-size: 1.4rem;
    font-weight: bold;

    white-space: nowrap;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: sticky;
    top: 0;

    width: 100%;
    height: 60px;

    background: #2e7d32;

    z-index: 1000;

    padding: 0 15px;
    box-sizing: border-box;
}

.caixa-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;

    background: #4caf50;

    display: flex;
    z-index: 9998;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu-topo {
    flex-grow: 1;
}

/* quando abre */
.caixa-menu.ativo {
    left: 0;
}

/* menu interno */
.menu ul {
    list-style: none;
    padding: 20px;
    padding-top: 60px;
    margin: 0;
}

.menu li {
  border-bottom: 1px solid white;
}

.menu a {
  display: block;
  padding: 12px;
  color: white;
  text-decoration: none;
}

/* botão fixo separado */
.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 90px;
    height: 40px;

    background: #2e7d32;
    color: white;

    padding: 0 12px;

    cursor: pointer;
    font-size: 1rem;

    border-radius: 8px;

    z-index: 9999;

    white-space: nowrap;
}

.caixa-menu {
    transition: left 0.3s ease;
}

.menu-bottom {
    padding: 20px;
}

.menu-logout {
    display: block;
    margin-bottom: 20px;
    background: #e74c3c;
    color: white;

    padding: 10px 6px;
    border-radius: 8px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.menu-logout:hover {
    background: #c0392b;
}

@media (max-width: 768px) {

    .topo {
        height: 55px;
        padding: 0 10px;
    }

    .logo {
        font-size: 1.1rem;
    }

    .menu-toggle {
        min-width: 75px;
        height: 36px;
        font-size: 0.9rem;
        padding: 0 10px;
    }

    .caixa-menu {
        width: 80%;
        left: -80%;
    }

    .caixa-menu.ativo {
        left: 0;
    }

    .menu ul {
        padding-top: 70px;
    }

    .menu a {
        font-size: 1rem;
        padding: 15px 12px;
    }

    .menu-logout {
        width: 100%;
    }

    .alert-message {
        width: 90%;
        min-width: unset !important;
        font-size: 0.9rem;
        padding: 12px !important;
    }

    .menu {
        justify-content: space-between;
        overflow-y: auto;
    }

}