{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Descarte Certo</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'image/cdlogo.png' %}" type="image/x-icon">
{% block extra_css %}{% endblock %}
</head>

<body>
    <header class="topo">
        <div class="menu-toggle">☰ Menu</div>
        <div class="logo">Descarte Certo</div>
    </header>

        <aside class="caixa-menu">
            <nav class="menu">
                <ul>
                    <li><a href="{% url 'home' %}">Início</a></li>
                    <li><a href="{% url 'guia_descarte' %}">Guia de descarte</a></li>
                    <li><a href="{% url 'mapa:index' %}">Ver Mapa</a></li>
                    <li><a href="{% url 'comunidade' %}">Comunidade</a></li>
                </ul>
            </nav>
        </aside>

        <main class="apps-dinamico">
            {% block content %}
            {% endblock %}
        </main>
        
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>