{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Descarte Certo</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'image/cdlogo.png' %}" type="image/x-icon">

    {% block extra_css %}{% endblock %}
</head>
<body>

    <div class="layout-global">
        
        <aside class="caixa-menu">
            <h3>Menu</h3>
            <nav class="menu-lateral">
                <ul>
                    <li><a href="{% url 'home' %}">Início</a></li>
                    <li><a href="{% url 'mapa:index' %}">Mapa de Descarte</a></li>
                    <li><a href="{% url 'comunidade' %}">Comunidade</a></li>
                </ul>
            </nav>
        </aside>

        <main class="apps-dinamico">
            {% block content %}
            {% endblock %}
        </main>

    </div>

</body>
</html>