{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <h1>Cadastro</h1>

    {% if erro %}
        <p class="erro">{{ erro }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Nome de usuário">

        <input type="email" name="email" placeholder="Email" required>

        <input type="password" name="senha" placeholder="Senha" required>

        <button type="submit">Cadastrar</button>
    </form>

    <p>
        Já possui conta?
        <a href="{% url 'login' %}">Fazer login</a>
    </p>

</div>

{% endblock %}