{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/guia.css' %}">
{% endblock %}

{% block content %}
<div class="guia-container">

    <h1>Preparando seu material para o descarte seguro</h1>

    <div class="grid">

    <!-- RECICLÁVEIS -->
    <div class="card verde">
        <div class="info">
            <h3>♻️ Recicláveis</h3>

            <p><strong>Exemplos:</strong><br>
            Papel, plástico, vidro e metal</p>

            <p><strong>Como descartar:</strong><br>
            • Limpar e secar<br>
            • Saco azul/transparente</p>
        </div>
    </div>

    <!-- REJEITOS -->
    <div class="card cinza">
        <div class="info">
            <h3>🚫 Rejeitos</h3>

            <p><strong>Exemplos:</strong><br>
            Papel higiênico, embalagens sujas, fraldas, absorventes</p>

            <p><strong>Como descartar:</strong><br>
            • Saco preto<br>
            • Lixo comum</p>

            <p><strong>Dica:</strong><br>
            Prefira opções reutilizáveis quando possível</p>
        </div>
    </div>

    <!-- CUIDADOS -->
    <div class="card alerta">
        <div class="info">
            <h3>⚠️ Cuidados especiais</h3>

            <p><strong>Vidros:</strong> embrulhar e identificar (risco de corte)</p>
            <p><strong>Pilhas:</strong> pontos de coleta (contaminação ambiental)</p>
            <p><strong>Remédios:</strong> farmácias/postos (riscos à saúde)</p>
            <p><strong>Eletrônicos:</strong> pontos de coleta (componentes tóxicos)</p> 
            <p><strong>Óleo de cozinha:</strong> pontos de coleta (poluição da água)</p>
        </div>
    </div>

    <!-- COSMÉTICOS -->
    <div class="card roxo">
        <div class="info">
            <h3>💄 Cosméticos</h3>

            <p><strong>Onde descartar:</strong><br>
            Algumas lojas recebem embalagens</p>

            <p><strong>Exemplos:</strong><br>
            • O Boticário<br>
            • Natura<br>
            • MAC</p>
        </div>
    </div>

    <!-- ROUPAS -->
    <div class="card roupa">
        <div class="info">
            <h3>👕 Roupas</h3>

            <p><strong>Prioridade:</strong><br>
            Doar ou reutilizar</p>

            <p><strong>Recicláveis:</strong><br>
            Algodão, jeans, lã, seda</p>

            <p><strong>Não recicláveis:</strong><br>
            Couro, nylon, tecidos mistos</p>

            <p><strong>Onde levar:</strong><br>
            Renner, C&A, Reserva,</p>
            <p><strong>Dica:</strong><br>
            Se estiver em bom estado, prefira doar para instituições ou brechós</p>
        </div>
    </div>

    <!-- ALIMENTOS -->
    <div class="card comida">
        <div class="info">
            <h3>🍎 Alimentos</h3>

            <p><strong>O que fazer:</strong><br>
            Pode fazer compostagem ou usa-los para adubo <p></p>
            <p>Para evitar odores e pragas, acondicione os resíduos em sacos fechados ou potes no freezer.</p>
            <p>óleo de cozinha: deve ser armazenado em garrafas PET e entregue a postos de coleta.<br></p>
        </div>
    </div>

</div>
{% endblock %}