{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/guia.css' %}">
{% endblock %}

{% block content %}

<div class="guia-container">

    <h1>Preparando seu material para o descarte seguro:</h1>

    <div class="grid-categorias">

        <!-- RECICLÁVEIS -->
        <div class="card">
            <div class="img-placeholder">
                <img src="{% static 'image/imgg/materiais.reciclaveis.jpg' %}">
            </div>

            <h3>Recicláveis</h3>

            <p><strong>Como descartar:</strong><br>
            Lave embalagens e separe plástico, papel, metal e vidro.</p>

            <p><strong>Riscos:</strong><br>
            Pode se contaminar com outros resíduos e dificultar sua reciclagem.</p>
        </div>

        <!-- VIDROS -->
        <div class="card">
            <div class="img-placeholder">
                <img src="{% static 'image/imgg/descartevidro.jpg' %}">
            </div>
            <h3>Vidros</h3>

            <p><strong>Como descartar:</strong><br>
            Embale em jornal ou caixa e sinalize que é vidro para evitar cortes.</p>

            <p><strong>Riscos:</strong><br>
            Pode causar ferimentos em pessoas e animais.</p>
        </div>

        <!-- ELETRÔNICOS -->
        <div class="card">
            <div class="img-placeholder">
                <img src="{% static 'image/imgg/descarteeletronicos.jpeg' %}">
            </div>
            <h3>Eletrônicos</h3>

            <p><strong>Como descartar:</strong><br>
            Leve a pontos específicos ou lojas que recebem.</p>

            <p><strong>Riscos:</strong><br>
            Libera metais pesados contaminando solo e água.</p>
        </div>

        <!-- ROUPAS -->
        <div class="card">
            <div class="img-placeholder">
                <img src="{% static 'image/imgg/descarteroupas.jpeg' %}">
            </div>
            <h3>Roupas</h3>

            <p><strong>Como descartar:</strong><br>
            Doe ou leve a pontos de coleta têxtil.</p>

            <p><strong>Riscos:</strong><br>
            Acúmulo em lixões gera poluição e desperdício.</p>
        </div>

        <!-- MEDICAMENTOS -->
        <div class="card">
            <div class="img-placeholder">
                <img src="{% static 'image/imgg/descartemedicamentos.jpeg' %}">
            </div>
            <h3>Medicamentos</h3>

            <p><strong>Como descartar:</strong><br>
            Entregue em farmácias ou pontos de coleta.</p>

            <p><strong>Riscos:</strong><br>
            Contamina água e pode intoxicar pessoas e animais.</p>
        </div>

        <!-- PNEUS -->
        <div class="card">
            <div class="img-placeholder">
                <img src="{% static 'image/imgg/descartedepneus.jpeg' %}">
            </div>
            <h3>Pneus</h3>

            <p><strong>Como descartar:</strong><br>
            Leve a borracharias ou ecopontos.</p>

            <p><strong>Riscos:</strong><br>
            Acumulam água e favorecem doenças como dengue.</p>
        </div>

        <!-- COSMÉTICOS -->
        <div class="card">
            <div class="img-placeholder">
                <img src="{% static 'image/imgg/descartecosmeticos.jpg' %}">
            </div>
            <h3>Cosméticos</h3>

            <p><strong>Como descartar:</strong><br>
            Separe embalagens e veja programas de coleta.</p>

            <p><strong>Riscos:</strong><br>
            Produtos químicos podem poluir água e solo.</p>
        </div>

        <!-- ORGÂNICOS -->
        <div class="card">
            <div class="img-placeholder">
                <img src="{% static 'image/imgg/descarteorganicos.jpg' %}">
            </div>
            <h3>Orgânicos</h3>

            <p><strong>Como descartar:</strong><br>
            Ideal para compostagem doméstica.</p>

            <p><strong>Riscos:</strong><br>
            Gera mau cheiro, gás e atrai pragas.</p>
        </div>

        <!-- DEJETOS -->
        <div class="card">
            <div class="img-placeholder">
                <img src="{% static 'image/imgg/dejetos.jpg' %}">
            </div>
            <h3>Dejetos</h3>

            <p><strong>Como descartar:</strong><br>
            Lixo comum, bem embalado.</p>

            <p><strong>Riscos:</strong><br>
            Pode transmitir doenças e contaminar o ambiente.</p>
        </div>

    </div>

</div>

{% endblock %}