{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}?v=1">
{% endblock %}

{% block content %}
<div class="home">

    <h1>O que você deseja fazer hoje?</h1>

    <div class="grid">

        <a href="{% url 'mapa:index' %}" class="card card-b1">
            <h2>Ver Mapa</h2>
            <p>Encontre pontos de coleta perto de você</p>
        </a>

        <a href="{% url 'guia_descarte' %}" class="card card-b2">
            <h2>Guia de Descarte</h2>
            <p>Aprenda a separar corretamente</p>
        </a>

        <a href="{% url 'comunidade' %}" class="card card-b3">
            <h2>Comunidade</h2>
            <p>Participe de discussões</p>
        </a>

    </div>

</div>
{% endblock %}