{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container-home">
    <h1 class="titulo-home">O que você deseja fazer hoje?</h1>
    
    <div class="grid-botoes">


        <a href="{% url 'mapa:index' %}" class="card-botao">
            <div class="icone">📍</div>
            <h3>Ver Mapa</h3>
            <p>Encontre pontos de coleta perto de você</p>
        </a>


  
        <a href="{% url 'guia_descarte' %}" class="card-botao">
            <div class="icone">♻️</div>
            <h3>Guia de Descarte</h3>
            <p>Saiba como separar seu lixo corretamente</p>
        </a>

      
        <a href="{% url 'comunidade' %}" class="card-botao">
            <div class="icone">🌱</div>
            <h3>Comunidade</h3>
            <p>Participe do fórum sobre reciclagem</p>
        </a>

    </div>
</div>
{% endblock %}