{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="login-container">

    <h1 class="login-titulo">Login</h1>

    {% if erro %}
        <p class="erro">
            {{ erro }}
        </p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input
            type="text"
            name="username"
            placeholder="Usuário"
            required
            class="input"
        >

        <input
            type="password"
            name="password"
            placeholder="Senha"
            required
            class="input"
        >

        <button type="submit" class="botao">
            Entrar
        </button>
    </form>

    <p class="cadastro-texto">
        Não possui conta?
        <a href="{% url 'cadastro' %}" class="link">
            Cadastre-se
        </a>
    </p>

</div>

{% endblock %}