{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        #mapa-container {
            width: 100%;
            height: 600px;
            border-radius: 15px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-mapa">
        <h2 style="margin-bottom: 20px;">Pontos de Descarte em Recife</h2>
        
        <div id="mapa-container"></div>
    </div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        // Inicializa o mapa com o foco geral
        var map = L.map('mapa-container').setView([-8.0477, -34.877], 13);

        // Adiciona o fundo do mapa (agora usando o servidor da CARTO)
        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>'
        }).addTo(map);

        // Adiciona os pinos de coleta do banco de dados
        {% for ponto in pontos %}
            var marker = L.marker([{{ ponto.latitude|stringformat:"f" }}, {{ ponto.longitude|stringformat:"f" }}]).addTo(map);
            
            marker.bindPopup(
                "<b>{{ ponto.nome }}</b><br>" +
                "Aceita: {{ ponto.tipo_residuo }}<br>" +
                "📍 {{ ponto.endereco }}<br><br>" +
                "<a href='https://www.google.com/maps/dir/?api=1&destination={{ ponto.latitude|stringformat:"f" }},{{ ponto.longitude|stringformat:"f" }}' target='_blank' style='display: block; background-color: #008000; color: white; text-align: center; padding: 8px; border-radius: 5px; text-decoration: none; font-weight: bold;'>Traçar Rota 🚗</a>"
            );
        {% endfor %}

        // Geolocalização

        // Pede a localização do navegador e, se achar, dá um zoom de 16x
        map.locate({setView: true, maxZoom: 16});

        // O que fazer se achar a localização do usuário:
        function aoAcharLocalizacao(e) {
            var raio = e.accuracy / 2; // Margem de erro do GPS
            
            // Coloca um marcador na pessoa
            L.marker(e.latlng).addTo(map)
                .bindPopup("Você está por aqui! (Margem de " + Math.round(raio) + " metros)").openPopup();
            
            // Desenha um círculo em volta
            L.circle(e.latlng, raio).addTo(map);
        }

        // Caso o usuário negar a permissão ou der erro:
        function aoDarErroLocalizacao(e) {
            alert("Não conseguimos acessar sua localização. Navegue pelo mapa manualmente.");
        }

        // Linkando os eventos do Leaflet com as nossas funções
        map.on('locationfound', aoAcharLocalizacao);
        map.on('locationerror', aoDarErroLocalizacao);
    </script>
{% endblock %}
