{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reciclagem.css' %}">
{% endblock %}

{% block content %}

<div class="reciclagem-container">

    <h1>Ideias de reciclagem criativa</h1>

    <div class="rec-grid">

        <!-- CARD 1 -->
        <div class="rec-card">
            <div class="rec-top">
                <div class="rec-img"><img src="{% static 'image/imagr/vela.jpg' %}"></div>

                <div class="rec-info">
                    <h3>Vela aromática de sabonete</h3>
                    <p>Transforme restos de sabonete em velas decorativas.</p>
                    <button onclick="toggleCard(this)" class="toggle-btn">Saiba mais</button>
                </div>
            </div>

            <div class="rec-details">
                <div>
                    <h4>Materiais</h4>
                    <ul>
                        <li>Restos de sabonete</li>
                        <li>Uma panela pequena para banho-maria</li>
                        <li>Um recipiente de vidro ou copo resistente ao calor</li>
                        <li>Pavio de vela (pode ser comprado pronto ou improvisado com barbante grosso de algodão)</li>
                        <li>Palito ou lápis para segurar o pavio</li>
                    </ul>
                </div>

                <div>
                    <h4>Passo a passo</h4>
                    <ol>
                        <li>Corte os sabonetes em pedaços pequenos para facilitar o derretimento.</li>
                        <li>Coloque tudo em banho-maria até virar uma massa líquida homogênea.</li>
                        <li>Fixe o pavio no centro do recipiente de vidro usando um palito para mantê-lo reto.</li>
                        <li>Despeje a mistura derretida com cuidado no recipiente.</li>
                        <li>Espere esfriar completamente até endurecer e virar uma vela pronta para uso.</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- CARD 2 -->
        <div class="rec-card">
            <div class="rec-top">
                <div class="rec-img"><img src="{% static 'image/imagr/caixaovo.jpg' %}"></div>

                <div class="rec-info">
                    <h3>Flor de caixa de ovos</h3>
                    <p>Crie flores decorativas com papelão reciclado.</p>
                    <button onclick="toggleCard(this)" class="toggle-btn">Saiba mais</button>
                </div>
            </div>

            <div class="rec-details">
                <div>
                    <h4>Materiais</h4>
                    <ul>
                        <li>Caixa de ovos de papelão</li>
                        <li>Tesoura</li>
                        <li>Cola branca ou cola quente</li>
                        <li>Tintas ou canetinhas</li>
                        <li>Palito de churrasco ou arame (opcional para o caule)</li>
                    </ul>
                </div>

                <div>
                    <h4>Passo a passo</h4>
                    <ol>
                        <li>Recorte as divisórias da caixa de ovos formando “copinhos”.</li>
                        <li>Modele cada pedaço como pétalas arredondando as bordas com a tesoura.</li>
                        <li>Pinte as pétalas com cores vibrantes e deixe secar.</li>
                        <li>Una várias pétalas formando uma flor com cola.</li>
                        <li>Se quiser, fixe em um palito para virar uma flor decorativa ou buquê.</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- CARD 3 -->
        <div class="rec-card">
            <div class="rec-top">
                <div class="rec-img"><img src="{% static 'image/imagr/latametal.jpg' %}"></div>

                <div class="rec-info">
                    <h3>Latas em porta-lápis</h3>
                    <p>Reaproveite latas de metal para organização.</p>
                    <button onclick="toggleCard(this)" class="toggle-btn">Saiba mais</button>
                </div>
            </div>

            <div class="rec-details">
                <div>
                    <h4>Materiais</h4>
                    <ul>
                        <li>Latas de metal vazias</li>
                        <li>Lixa ou pano para limpeza</li>
                        <li>Tinta, papel colorido ou tecido</li>
                        <li>Cola branca ou cola quente</li>
                        <li>tesoura</li>
                    </ul>
                </div>

                <div>
                    <h4>Passo a passo</h4>
                    <ol>
                        <li>Lave bem as latas e remova qualquer rótulo ou sujeira.</li>
                        <li>Passe uma lixa leve para tirar partes cortantes.</li>
                        <li>Decore a parte externa com tinta, papel ou tecido.</li>
                        <li>Espere secar completamente.</li>
                        <li>Use como organizador para lápis ou pinceis de maquiagem. Use a criatividade!</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- CARD 4 -->
        <div class="rec-card">
            <div class="rec-top">
                <div class="rec-img"><img src="{% static 'image/imagr/papelmache.jpg' %}"></div>

                <div class="rec-info">
                    <h3>Papel machê</h3>
                    <p>Crie objetos com jornais e revistas velhas.</p>
                    <button onclick="toggleCard(this)" class="toggle-btn">Saiba mais</button>
                </div>
            </div>

            <div class="rec-details">
                <div>
                    <h4>Materiais</h4>
                    <ul>
                        <li>Jornais ou revistas velhas</li>
                        <li>Cola branca</li>
                        <li>Água</li>
                        <li>Pincel ou colher</li>
                        <li>Baldes ou tigelas para mistura</li>
                        <li>Balão ou molde (opcional)</li>
                    </ul>
                </div>

                <div>
                    <h4>Passo a passo</h4>
                    <ol>
                        <li>Rasgue o papel em pedaços pequenos.</li>
                        <li>Misture cola com um pouco de água até formar uma pasta.</li>
                        <li>Molhe os pedaços de papel nessa mistura.</li>
                        <li>Aplique sobre um molde (como balão ou pote) criando camadas.
</li>                   <li>Deixe secar por 24h e depois pinte ou decore.</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- CARD 5 -->
        <div class="rec-card">
            <div class="rec-top">
                <div class="rec-img"><img src="{% static 'image/imagr/pneu.jpg' %}"></div>

                <div class="rec-info">
                    <h3>Pneu em balanço</h3>
                    <p>Transforme pneus antigos em brinquedos.</p>
                    <button onclick="toggleCard(this)" class="toggle-btn">Saiba mais</button>
                </div>
            </div>

            <div class="rec-details">
                <div>
                    <h4>Materiais</h4>
                    <ul>
                        <li>Pneu usado</li>
                        <li>Corda resistente</li>
                        <li>Tinta (opcional para decorar)</li>
                        <li>Gancho de metal ou corrente</li>
                    </ul>
                </div>

                <div>
                    <h4>Passo a passo</h4>
                    <ol>
                        <li>Lave bem o pneu e deixe secar.</li>
                        <li>Faça furos ou use pontos existentes para passar a corda.</li>
                        <li>Amarre a corda com nós firmes e seguros.</li>
                        <li>Prenda o balanço em um galho forte ou estrutura de ferro.</li>
                        <li>Teste a segurança antes de usar!</li>
                        <li>Decore o pneu com tinta se desejar.</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- CARD 6 -->
        <div class="rec-card">
            <div class="rec-top">
                <div class="rec-img"><img src="{% static 'image/imagr/garrafapet.jpg' %}"></div>

                <div class="rec-info">
                    <h3>Vasos recicláveis</h3>
                    <p>Crie vasos com materiais reaproveitados.</p>
                    <button onclick="toggleCard(this)" class="toggle-btn">Saiba mais</button>
                </div>
            </div>

            <div class="rec-details">
                <div>
                    <h4>Materiais</h4>
                    <ul>
                        <li>Garrafas PET ou potes plásticos</li>
                        <li>Tesoura ou estilete</li>
                        <li>Terra</li>
                        <li>mudas ou sementes de plantas pequenas</li>
                        <li>Pedrinhas (opcional)</li>
                    </ul>
                </div>

                <div>
                    <h4>Passo a passo</h4>
                    <ol>
                        <li>Corte o funto da garrafa na altura desejada.</li>
                        <li>Faça pequenos furos no fundo para drenagem da água.</li>
                        <li>Coloque uma camada de pedrinhas no fundo (opcional).</li>
                        <li>Adicione terra e plante a muda.</li>
                    </ol>
                    <p>Dica: voce pode cortar o fundo de outra garrafa razinho para usar de pratinho de reter a água.</p>
                </div>
            </div>
        </div>

        <!-- CARD 7 -->
        <div class="rec-card">
            <div class="rec-top">
                <div class="rec-img"><img src="{% static 'image/imagr/papelhigienico.jpg' %}"></div>

                <div class="rec-info">
                    <h3>Rolo de papel decorativo</h3>
                    <p>Decorações com rolos de papel higiênico.</p>
                    <button onclick="toggleCard(this)" class="toggle-btn">Saiba mais</button>
                </div>
            </div>

            <div class="rec-details">
                <div>
                    <h4>Materiais</h4>
                    <ul>
                        <li>Rolos de papel higiênico</li>
                        <li>Tinta ou papel decorativo</li>
                        <li>Cola</li>
                        <li>Tesoura</li>
                    </ul>
                </div>

                <div>
                    <h4>Passo a passo</h4>
                    <ol>
                        <li>Corte os rolos em anéis ou formatos decorativos.</li>
                        <li>Modele flores, folhas ou figuras geométricas.</li>
                        <li>Pinte ou encape com papel colorido.</li>
                        <li>Cole as peças formando um painel ou enfeite.</li>
                        <li>Use como decoração de parede ou organizadores.</li>
                    </ol>
                </div>
            </div>
        </div>

        <!-- CARD 8 -->
        <div class="rec-card">
            <div class="rec-top">
                <div class="rec-img"><img src="{% static 'image/imagr/papelao.jpg' %}"></div>

                <div class="rec-info">
                    <h3>Porta-livros de papelão</h3>
                    <p>Organize livros com caixas recicladas.</p>
                    <button onclick="toggleCard(this)" class="toggle-btn">Saiba mais</button>
                </div>
            </div>

            <div class="rec-details">
                <div>
                    <h4>Materiais</h4>
                    <ul>
                        <li>Caixa de papelão</li>
                        <li>Tesoura ou estilete</li>
                        <li>Cola ou fita adesiva resistente</li>
                        <li>Tinta ou papel pra decorar</li>
                    </ul>
                </div>

                <div>
                    <h4>Passo a passo</h4>
                    <ol>
                        <li>Corte a caixa em formato inclinado para apoiar livros.</li>
                        <li>Reforce as laterais com fita ou papelão dobrado.</li>
                        <li>Pinte ou encape para deixar mais bonito e resistente.</li>
                        <li>Organize os livros dentro como um suporte de estante.</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{% static 'js/reciclagem.js' %}"></script>

{% endblock %}