{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/topic_detail.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <!-- PERGUNTA -->
    <h1 class="titulo">Postagem</h1>

    <div class="card">
        <h3>{{ topic.title }}</h3>
        <p class="conteudo">{{ topic.content }}</p>

        {% if topic.imagem %}
            <img src="{{ topic.imagem.url }}" class="imagem">
        {% endif %}

        <small class="info">por {{ topic.author }}</small>
    </div>

    <!-- RESPOSTAS -->
    <h1 class="subtitulo">Respostas</h1>

    {% for post in posts %}
        <div class="card">
            <p class="conteudo">{{ post.content }}</p>
            <small class="info">por {{ post.author }}</small>
        </div>
    {% empty %}
        <p class="vazio">Nenhuma resposta ainda.</p>
    {% endfor %}

    <!-- BOTÃO -->
    <button class="botao-responder" onclick="toggleResposta()">
    Responder essa postagem
    </button>

    <div id="formResposta" class="form-resposta">
        <form method="POST">
            {% csrf_token %}
            
            <textarea name="conteudo" placeholder="Escreva sua resposta..." required></textarea>
            
            <button type="submit">Enviar resposta</button>
        </form>
    </div>

</div>

<script src="{% static 'js/topic_detail.js' %}"></script>

{% endblock %}